*{

font-family: sans-serif;

    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}



/*Default mobile styles*/

footer{
    background-color: #F9F9FA;
    max-width:1500px;
    width: 100%;

}
.footer-flex{
    padding: 20px 0;
}

.fa-brands, .fa-wifi{
    background-color: blue;
    color: white;
    font-size: 17px;
    padding:10px;
    margin-top:10px;
    margin-bottom: 15px;
margin-left: 10px;
    border-radius: 50%;

}

.footer-btn{
    background-color: rgb(199, 198, 198);
    color: blue;
    border: 1px solid blue;
    font-size: 12px;
    padding: 5px 17px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
}

.footer-grid{
    padding: 50px 0;
 
    display: grid;
    grid-template-columns: repeat(1,6fr);

    margin:0px 15px;

}
.docker_logo{
    width:90px;
    padding-bottom: 10px;
}
.footer-grid ul li{
    list-style: none;
    font-size:10px;
    margin:5px 0;
    color:#414142e0

}
@media(min-width:320px){
    .footer-grid ul li{
        list-style: none;
        font-size:12px;
        margin:5px 0;
        color: #2e2e2e;
    
    }
    .footer-grid{
        padding: 50px 0;
     
        display: grid;
        grid-template-columns: repeat(1,6fr);
    
        margin:0px 15px;
    
    }

    .footer-btn{
        background-color: rgb(199, 198, 198);
        color: blue;
        border: 1px solid blue;
        font-size: 12px;
        padding: 5px 17px;
        margin:  15px;
        text-decoration: none;
        cursor: pointer;
      
    }
    .footer-grid h3{
        font-size:15px;
        color: #2e2e2e;
    }
    .copyright-text{
        color: #2e2e2e;
        margin: 0 15px;
        padding-bottom: 15px;

    }
}

/*laptop  and desktop screens*/
@media(min-width:992px){
    .footer-grid{
     display: grid;
      grid-template-columns: repeat(6,1fr);
    padding: 50px 0;
    
        justify-content: center;
      
margin: 0px;
margin-right: 80px;
margin-left: 50px;

    }
   
    .footer-grid ul li{
        list-style: none;
        font-size:15px;
        margin:10px 0;
        color: #2e2e2e;
    
    }
    .footer-grid h3{
        font-size:18px;
        margin-bottom: 15px;
        color: #2e2e2e;
    }
    .footer-flex{
        flex-direction: row;
        display: flex;
        justify-content: space-around;
    }
}

/*Tablets*/

@media(max-width:768px) and (min-width:400px){
   

    .footer-grid ul li{
        list-style: none;
     
        font-size:12px;
        margin:5px 0;
        color: #2e2e2e;
    
    }

    .footer-item{
        display: flex;
        flex-direction: column;
    }
    
    .docker_logo{
        width:180px;
    }

    .footer-grid{
      
grid-template-columns: repeat(2,4fr);
        

                margin: 0 15px;
    }



.footer-grid ul li{
    font-size: 12px;
}
    .footer-grid h3{
        font-size:15px;
        margin-top: 25px;
        margin-bottom: 15px;
        color: #2e2e2e;
    }
    .copyright-text{
        color: #2e2e2e;
        margin: 0 15px;

    }
}